@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
  padding: 0;
  margin: 0;
  background: linear-gradient(150deg,#9E8EA1,#6657A2);
  background-size:cover;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-attachment: fixed;
  
}

*{
  box-sizing:inherit;
  }

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.sub{

  left:auto;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 5px;
  width: 80vw;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 7px;
  padding-right: 7px;
  margin: 0;
}
#input{
  border: none;
  background: transparent;
  font-family: 'Open Sans';
  height:100%;
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
  outline: none;
}
#button{
  font-size: 1.4rem;
}

#loc{
position: absolute;
  top:8vh;
  left:auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: "Roboto";
  font-size: 2.1rem;
}
#icn{
  width:29vh;
  height: 29vh;
  animation:hover 3s infinite;
  position: relative;
  bottom:100px;
}

#desc{
  color:white;
  font-size: 6rem;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top:30vh;
  left:auto;
  margin-left: auto;
  margin-right: auto;
}

#desc:after{
  content: "°";
  
  
}

#result{
  color:white;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top:10vh;
  left:auto;
  margin-left: auto;
  margin-right: auto;
}

@keyframes hover{
  
  0%{
    bottom:120px;
  }
  
  50%{
    bottom:130px;
  }
  100%{
    bottom:120px;
  }
  
}




.bg{
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
 background: linear-gradient(150deg, #7BB9C4, rgb(73,136,133), #7BB9C4, rgb(58,153,138), rgb(68,173,175), #7BB9C4);
    background-size: 1200% 1200%;
    -webkit-animation: AnimationName 29s ease infinite;
    -moz-animation: AnimationName 29s ease infinite;
    -o-animation: AnimationName 29s ease infinite;
    animation: AnimationName 29s ease infinite;
  box-sizing: border-box;
  background-attachment: fixed;
}
@-webkit-keyframes AnimationName {
    0%{background-position:69% 0%}
    50%{background-position:32% 100%}
    100%{background-position:69% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:69% 0%}
    50%{background-position:32% 100%}
    100%{background-position:69% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:69% 0%}
    50%{background-position:32% 100%}
    100%{background-position:69% 0%}
}
@keyframes AnimationName {
    0%{background-position:69% 0%}
    50%{background-position:32% 100%}
    100%{background-position:69% 0%}
}
  
#subcon{
  position:absolute;
  left: 0;
  top: 0;
  width:100vw;
  height: 100vh;
  background-color: #161616;
  z-index: 999;
  display:flex;
  align-items:center ;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;

}


#subcon button{
  color: white;
  background-color: #f74b4b;
  border: 1px transparent;
  border-radius: 2px;
  width:100px;
  height: 50px;
  margin: 10px;
  outline: none;
}


.hide{
  animation:1.5s diss forwards;
}

@keyframes diss{
  0%{
    top:0;
  }
  100%{
    top:-100vh;
  }
}
.appear{
  animation:1.5s app forwards;
}

@keyframes app{
  0%{
    top:-100vh;
  }
  100%{
    top:0;
  }
}


#redo{
  position: absolute;
  top: 12px;
  right:12px;
  font-size: 1.2rem;
  color: white;
  
}

#log{
 width:31vh;
 height: 31vh;
 position: relative;
 bottom:10vh;
}

.datess{
  position: absolute;
  color: white;
  font-size: 1.1rem;
  bottom: -10px;
  left:5px;
}
